*{
	margin: 0;
}

#menu{
	position: absolute;
	font: 13px Arial, Verdana, Sans-serif;
	background: #91c0cf;
	width: 443px;
	margin: 50px;
	padding: 2px;
}

#menu ul{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

#menu ul li{
	background: #ADD8E6;
	float: left;
}

#menu ul li:hover{
	background: #91c0cf;
} 

#menu ul li + li{
	margin: 0 0 0 2px;
}

#menu ul li a{
	text-decoration: none;
	padding: 3px 20px;
	display: block;
	color: #000; 
}

#menu ul li a:hover{
	color: #fff;  
}

#menu li.submn1{
	background: url("../img/down.png") no-repeat left #ADD8E6;
}

#menu li.submn1:hover{
	background: url("../img/down.png") no-repeat left #91c0cf;
}

#menu li.submn1 ul{
	background: #91c0cf;
	padding: 2px;
	float: left; 
	position: absolute;/* */
	margin: 0 0 0 10px;
	width: 180px;
	display: none;
}

#menu li.submn1 ul li{
	float: none;
	text-align: center;
}

#menu li.submn1 ul li + li{
	margin: 2px 0 0 0;
}